<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rssi high</key>
	<integer>-25</integer>
	<key>rssi low</key>
	<integer>-100</integer>
	<key>Services</key>
	<dict>
		<key>firmware</key>
		<dict>
			<key>UUID</key>
			<string>f000ffc0-0451-4000-b000-000000000000</string>
			<key>Primary</key>
			<true/>
			<key>DriverClass</key>
			<string>BLEFirmwareUpdateService</string>
			<key>Fields</key>
			<dict>
				<key>imgidentify</key>
				<string>f000ffc1-0451-4000-b000-000000000000</string>
				<key>blockrequest</key>
				<string>f000ffc2-0451-4000-b000-000000000000</string>
			</dict>
		</dict>
		<key>accelerometer</key>
		<dict>
			<key>UUID</key>
			<string>75b64e51-ffa0-4ed1-921a-476090d80ba7</string>
			<key>DriverClass</key>
			<string>BLEAccelerometerService</string>
			<key>Fields</key>
			<dict>
				<key>enable</key>
				<string>75b64e51-ffa1-4ed1-921a-476090d80ba7</string>
				<key>x</key>
				<string>75b64e51-ffa3-4ed1-921a-476090d80ba7</string>
				<key>y</key>
				<string>75b64e51-ffa4-4ed1-921a-476090d80ba7</string>
				<key>z</key>
				<string>75b64e51-ffa5-4ed1-921a-476090d80ba7</string>
			</dict>
		</dict>
		<key>battery</key>
		<dict>
			<key>UUID</key>
			<string>180f</string>
			<key>DriverClass</key>
			<string>BLEBatteryService</string>
			<key>Fields</key>
			<dict>
				<key>level</key>
				<string>2a19</string>
			</dict>
		</dict>
		<key>devinfo</key>
		<dict>
			<key>UUID</key>
			<string>180a</string>
			<key>DriverClass</key>
			<string>BLEDeviceInformationService</string>
			<key>Fields</key>
			<dict>
				<key>serialnumber</key>
				<string>2a25</string>
			</dict>
		</dict>
		<key>smartplane</key>
		<dict>
			<key>UUID</key>
			<string>86C3810E-F171-40D9-A117-26B300768CD6</string>
			<key>Primary</key>
			<true/>
			<key>DriverClass</key>
			<string>BLESmartplaneService</string>
			<key>Fields</key>
			<dict>
				<key>motor</key>
				<string>86C3810E-0010-40D9-A117-26B300768CD6</string>
				<key>rudder</key>
				<string>86C3810E-0021-40D9-A117-26B300768CD6</string>
				<key>chargestatus</key>
				<string>86C3810E-0040-40D9-A117-26B300768CD6</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
